
<head>
	<title>Secretary Login</title>
</head>
<body>
	<div class="background">
		<div class="form-container">
			<h2 >Secretary Login</h2>
			<form [formGroup]="form" (submit)="onsubmit()" action="#" method="POST">
				<label for="username">Username:</label>
				<input formControlName="username" type="text" name="username" id="username" required>

				<label for="password">Password:</label>
				<input formControlName="password" type="password" name="password" id="password" required>

				

				<button type="submit"> Login</button>
				<a routerLink="/doc/login" class="switch-link">Im a Doctor ! take me to login page</a>
			</form>
		</div>
	</div>
</body>

